<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Server" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Server;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <system.serviceModel>
    <!-- ========== Bindings Configuration START ========== -->
    <bindings>
      <netMsmqBinding>
        <binding name="ServerQueueBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <netTcpBinding>
        <binding name="TcpBinding" transactionFlow="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="HttpBinding">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- ========== Bindings Configuration END ========== -->
    <!-- ========== Behaviors Configuration START ========== -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerMsmqBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServerTcpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServerHttpBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- ========== Behaviors Configuration END ========== -->
    <!-- ========== Services Configuration START ========== -->
    <services>
      <!-- ========== MSMQ Service ========== -->
      <service behaviorConfiguration="ServerMsmqBehavior" name="Server.ServerOpsMsmq">
        <endpoint address="" binding="netMsmqBinding" bindingConfiguration="ServerQueueBinding"
            name="QueueEndpoint" contract="Server.IServerOpsMsmq" />
        <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9003/Server/" />
            <add baseAddress="net.msmq://localhost/private/Server" />
          </baseAddresses>
        </host>
      </service>
      <!-- ========== NetTCP Service ========== -->
      <service behaviorConfiguration="ServerTcpBehavior" name="Server.ServerOpsTcp">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding"
          name="TcpOps" contract="Server.ServerOpsTcp" />
        <endpoint address="mex" binding="mexHttpBinding" name="MetaData"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8700/Server/" />
            <add baseAddress="http://localhost:9000/Server/" />
          </baseAddresses>
        </host>
      </service>
      <!-- ========== BasicHttp Service ========== -->
      <service behaviorConfiguration="ServerHttpBehavior" name="Server.ServerOpsHttp">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          name="HttpOps" contract="Server.IServerOpsHttp" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Server/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- ========== Services Configuration END ========== -->
  </system.serviceModel>
</configuration>