<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Server" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=tdin_server;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
    <system.serviceModel>
      <!-- Required for Silverlight Compatibility -->
        <client>
            <endpoint address="net.msmq://localhost/private/StockService"
                binding="netMsmqBinding" bindingConfiguration="StockService.MsmqEndpoint"
                contract="StockService.IServiceMsmq" name="StockService.MsmqEndpoint" />
        </client>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
      
        <bindings>
            <netMsmqBinding>
                <binding name="StockService.MsmqEndpoint" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    deadLetterQueue="System" durable="true" exactlyOnce="true"
                    maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault"
                    receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00"
                    useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native"
                    maxBufferPoolSize="524288" useActiveDirectory="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
                            msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netMsmqBinding>
            <netTcpBinding>
                <binding name="Server.ServerTcpBinding">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <webHttpBinding>
                <binding name="Server.CrossDomainServiceBinding">
                    <security mode="Transport" />
                </binding>
            </webHttpBinding>
        </bindings>
      
        <behaviors>
            <endpointBehaviors>
                <behavior name="CrossDomainServiceBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="Server.MainBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="Server.MainBehaviorTcp">
                  <serviceMetadata />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Server.MainBehaviorTcp" name="Server.ServiceTcp">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="Server.ServerTcpBinding"
                    contract="Server.IServiceTcp" />
                <endpoint address="mex" binding="mexTcpBinding" name="metadata"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:4504/Server/ServiceHttp/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Server.CrossDomainService">
                <endpoint address="" behaviorConfiguration="CrossDomainServiceBehavior"
                    binding="webHttpBinding" contract="Server.ICrossDomainService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:80/" />
                    </baseAddresses>
                </host>
            </service>
        </services>

      
    </system.serviceModel>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
</configuration>
